/*global*/
html, body{
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/camouflage.png);
    height: 100%;
    width: 100%;
}
a:hover{
    text-decoration: none;
}
h3{
    color: #fff;
    background-color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin:0;
}
.header .highlight{
    color:#e8491d;
}

/*homepage*/
.media{
    margin:20px;
    background-color:#ffffff;
    padding: 20px;
    margin-bottom: 15%;
    display: inline-grid;
}
.media h5{
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #4aaaa5;
    font-weight: 666;
    font-size: 30px; 
    letter-spacing: 1.5px;
}
img.about-img{
    width: 33%;
    height: 200px;
    margin: 10px;
    float: right;
}
.mt-0{
    text-align: center;
}

/*portfolio*/
.card{
    margin: 0 50px 30px 50px;
}
a:active h3{
    background-color: crimson;
    
}


/*contact*/
.container form{
    margin-bottom: 110px;
}
.jumbotron{
    padding: 20px 0 40px 0;
}
label{
    color: #fff;
    padding: 5px;
}

/*footer*/
 footer{
    background-color: #666666;
    height: 40px;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-top: 5px solid #4aaaa5;
    bottom:0;
    position: fixed;
    }

    @media (max-width: 640px){
        img.about-img{
            width: 95%;
        }
}